<div class="container">
    <mat-card class="shake-card">
        <mat-card-header class="header">
            <h1>{{shake[0].producto | titlecase}}</h1>
        </mat-card-header>
        <mat-dialog-content>
            <div class="img">
                <img [src]="shake[0].img | async" alt="">
            </div>
            <div class="descr">
                <div>
                    <ul>
                        <li>Producto: {{shake[0].producto}}</li>
                        <li>Descripción: {{shake[0].descripcion_corta}}</li>
                        <li>Precio: {{shake[0].precioVenta | currency}}</li>
                    </ul>
                    <p>{{shake[0].descripcion_larga}}</p>
                </div>
                <div *ngIf="isMilkshake; else Normalshake">
                    <div class="sabor">
                        <div id="sabor1">
                            <h3 *ngIf="sabor">{{sabor[0].producto}}</h3>
                            <img *ngIf="sabor" [src]="sabor[0].img | async" alt="{{sabor[0].producto}}">
                            <button mat-raised-button color="warn" mat-raised-button (click)="selectFlavor()">
                                Sabor
                            </button>
                        </div>
                    </div>
                </div>
                <ng-template #Normalshake>
                    <div class="sabor">
                        <div id="sabor1">
                            <h3 *ngIf="fruta1">{{fruta1[0].producto}}</h3>
                            <img *ngIf="fruta1" [src]="fruta1[0].img | async" alt="">
                            <button mat-raised-button color="warn" mat-raised-button (click)="aditionFruta()">
                                Fruta
                            </button>
                        </div>
                        <div id="sabor2">
                            <h3 *ngIf="fruta2">{{fruta2[0].producto}}</h3>
                            <img *ngIf="fruta2" [src]="fruta2[0].img | async" alt="">
                            <button mat-raised-button color="warn" mat-raised-button (click)="aditionFruta2()">
                                Fruta
                            </button>
                        </div>
                    </div>
                    <mat-slide-toggle class="crema" color="primary" [(ngModel)]="flagLeche">Pide tu Shake con leche</mat-slide-toggle>
                </ng-template>
            </div>
        </mat-dialog-content>
        <mat-card-actions>
            <div class="btntienda">
                <div id="btntienda1">
                    <button  mat-flat-button color="primary" (click)="addcart()">
                        Añadir al carrito
                        <span class="material-icons">
                            shopping_cart
                            </span>
                    </button>
                </div>
                </div>
                <div id="btntienda2">
                    <button mat-flat-button color="primary" (click)="backClicked()">
                        <span class="material-icons">
                            arrow_back
                            </span>
                    </button>
                </div>
        </mat-card-actions>
    </mat-card>
</div>
 
