@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    padding: 0px;
    margin: 0px;
    background-image: url('./../../../../assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
    padding: 0px;
    margin: 0px;
    background-image: url('./../../../../assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  mat-sidenav {
    background: -webkit-linear-gradient(left, 
    rgba(147,206,222,1) 0%, 
    rgba(117,189,209,0.68) 41%, 
    rgba(51,255,238,0.21) 100%);
  }

  mat-sidenav mat-nav-list > a {
  padding-bottom: 5px;
  text-decoration: none;
  font-family: 'Rum Raisin', sans-serif;
  font-size: large;
}

mat-sidenav mat-nav-list > a.active {
    background: -webkit-linear-gradient(left, 
    rgba(181,238,226,1) 0%,
    rgba(42,229,179,0.78) 42%,
    rgba(75,231,190,0.72) 53%, 
    rgba(190,239,228,0.72) 91%);

}

mat-sidenav mat-nav-list span{
  padding-left: 5px;
}
mat-toolbar{
  background: -webkit-linear-gradient(-45deg, 
  rgba(183,222,237,0.55) 11%, 
  rgba(113,206,239,0.55) 23%,
  rgba(96,200,236,0.55) 30%,
  rgba(33,180,226,0.8) 55%, 
  rgba(110,202,232,1) 75%, 
  rgba(183,222,237,1) 94%);
  
}

mat-toolbar app-header{
  display: inherit;
  width: 90%;
}

