<a routerLink="/home"><img src="./../../../../assets/images/logo.jpg" alt=""></a>
<span class="title"><h1>{{title | uppercase}}</h1></span>
<span class="example-spacer"></span>
<a mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn" routerLink="/order">
    <mat-icon class="example-icon" 
    aria-hidden="false" aria-label="Example heart icon">
    shopping_cart</mat-icon>
</a>

<a *ngIf="user$ | async as user; else login" routerLink="/perfil">
    <img 
    mat-card-avatar [src]="user?.photoURL" alt="">
</a> 

<ng-template #login>
    <button mat-button (click)="openLogin()">Login</button>
</ng-template>





