<form [formGroup]="form" (ngSubmit)="register()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="email" formControlName="email" type="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="password" formControlName="password" type="password">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="boton1" [disabled]="form.invalid" mat-raised-button type="submit">Registro</button>
            <button class="boton2" mat-stroked-button mat-dialog-close>Cancel</button>
            <div class="row">
                <h3 class="cuenta">O registrate con</h3>
            </div>
            <div class="row gl">
                <button mat-raised-button (click)="registerGoogle()" target="_blanck"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/>Register with Google</button>
            </div>
            <div class="row fb">
                <button mat-raised-button color="primary" (click)="registerFacebook()"><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>Register with Facebook</button>
            </div>
            <div class="row">
                <h3 class="cuenta">Ya tienes cuenta? <button mat-button (click)="openLogin()">Login</button></h3>
            </div>
        </mat-card-actions>
    </mat-card>
</form>