<form [formGroup]="form" (ngSubmit)="login($event)">
    <mat-card class="login">
        <mat-card-header>
            <div class="row">
                <mat-card-title>Login</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="email" formControlName="email" matInput type="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="password" formControlName="password" type="password">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="row formulario">
                <button class="boton1" [disabled]="form.invalid" mat-raised-button type="submit">Ingresar</button>
                <button class="boton2" mat-stroked-button mat-dialog-close>Cancel</button>
            </div>
            <div class="row">
                <h3 class="cuenta">O ingresa con</h3>
            </div>
            <div class="row gl">
                <button mat-raised-button (click)="loginGoogle()" target="_blanck"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/>Sign in with Google</button>
            </div>
            <div class="row fb">
                <button mat-raised-button color="primary" (click)="loginInFB()"><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>login facebook</button>
            </div>
            <div class="row">
                <h4 class="cuenta">Aun no tienes cuenta? <button mat-button (click)="openRegister()">Register</button></h4>
            </div>
        </mat-card-actions>
    </mat-card>
</form>
