<mat-card class="perfil" *ngIf="user$ | async as user">
    <mat-card-header>
        <img class="avatar" mat-card-avatar [src]="user?.photoURL" alt="">
        <mat-card-title>{{user.displayName}}</mat-card-title>
        <mat-card-subtitle>{{usuario[0].role}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user?.photoURL" alt="">
    <mat-card-content>
        <h3>{{usuario[0].email}}</h3>
    </mat-card-content>
    <mat-card-actions *ngIf="usuario[0].role === 'ADMIN' 
                          || usuario[0].role === 'CAJERO'">
        <a href="/admin">Panel Administrador</a>
    </mat-card-actions>
</mat-card>