@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@media(min-width: 760px) {
    .fruta {
        max-width: 300px;
        margin: 2px;
        border: 1px solid white;
        border-radius: 5px;
        position: relative;
        display: inline-block;
      }
      img {
        margin-top: 3px;
        background-size: cover;
        border-radius: 50px;
        border: 1px solid white;
        width: 100%; 
        margin-bottom: 0;
        padding-bottom: 0;
      }
    
    .fruta mat-dialog-actions{
     display: block;
     padding: 0;
   }
}

.fruta {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 290px;
  
  }
  .fruta mat-dialog-content{
    display: block;
    margin: 0;
    padding: 0;
  }
  mat-dialog-title {
    margin: 0;
    display: block;
  }
  .mat-dialog-actions{
    padding: 0px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    margin-bottom: -38px;
    justify-content: center;
  }
  button{
    width: 85%;
    display: block;
    align-items: center;
  }
 img {
    margin-top: 3px;
    background-size: cover;
    border-radius: 50px;
    border: 1px solid white;
    width: 90%; 
    margin: 0;
    padding: 0;
  }
 
  h3 {
    font-family: 'Satisfy', cursive;
  }