@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

@media(min-width: 768px) {

    .example-card {
        max-width: 500px;
        margin: 2px;
        border: 1px solid black;
        border-radius: 5px;
        position: relative;
        display: block;
      }
}
@media(min-width: 1024px) {
    .example-card {
        min-width: 400px;
        max-width: 800px;
        margin: 2px;
        border: 1px solid black;
        border-radius: 5px;
        display: block;
      }
}

@media(min-width: 1400px) {
    .example-card {
        min-width: 300px;
        max-width: 1000px;
        margin: 2px;
        border: 1px solid black;
        border-radius: 5px;
        display: block;
      }
}
.example-card img {
    margin-top: 3px;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid white;
    width: 100%;
}

.example-card .header {
    border-radius: 10px;
    border: 1px solid white;
}

.example-card .header .title {
    font-family: 'Rum Raisin', sans-serif;
}
.example-card {
    background: -webkit-linear-gradient(left, 
    rgba(147,206,222,1) 0%, 
    rgba(117,189,209,0.68) 41%, 
    rgba(51,255,238,0.21) 100%);
}
