@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

@media(min-width: 768px) {

    .example-card {
        max-width: 500px;
        margin: 2px;
        border: 1px solid white;
        border-radius: 5px;
        position: relative;
        display: block;
      }
}
@media(min-width: 1024px) {
    .example-card {
        min-width: 400px;
        max-width: 800px;
        margin: 2px;
        border: 1px solid white;
        border-radius: 5px;
        display: block;
      }
}

@media(min-width: 1400px) {
    .example-card {
        min-width: 300px;
        max-width: 1000px;
        margin: 2px;
        border: 1px solid white;
        border-radius: 5px;
        display: block;
      }
}
.content {
    position: relative;
    display: inline-block;
    text-align: center;
}
.example-card .content img {
    margin-top: 3px;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid white;
    width: 100%;
    
    margin-bottom: 0;
    padding-bottom: 0;
    filter: grayscale(70%);
}
.descripcion{
    position: absolute;
    top: 45%;
    left: 5%;
    text-align: center;
    color: white;
    font-size: medium;
    
}

.example-card .header {
    border-radius: 10px;
    border: 1px solid white;
}

.example-card .header .title {
    font-family: 'Rum Raisin', sans-serif;
}
.example-card {
    background: -webkit-linear-gradient(left, 
    rgba(147,206,222,1) 0%, 
    rgba(117,189,209,0.68) 41%, 
    rgba(51,255,238,0.21) 100%);
}

mat-card-actions {
    padding-top: 0;
    padding-left: 10px;
    border-radius: 5px;
}

mat-card-actions a{
    width: 98%;
}
