<mat-toolbar>
    <span class="eslogan">
        <h3>Helarte 2020 </h3>
        <h4>Helados y Crepes</h4>
    </span>
    <span class="registered">
        <h2>®</h2>
    </span>
    <span class="example-spacer1"></span>
    <span class="logo">
        <img src="../../../../assets/images/logo.jpg" alt="">
    </span>
    <span class="example-spacer2"></span>
    <span class="redess">
       <a href="https://www.facebook.com/helarte.capelo"><img src="https://img.icons8.com/color/48/000000/facebook-circled.png"/></a> 
       <a href="https://www.instagram.com/helarte.capelo/"><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a>
    </span>
</mat-toolbar>