.tab1 {
  margin: auto;
}
mat-tab-group {
    margin: auto;
  }

.franja{
    padding: auto;
  }

.franja img{
    max-height: 300px;
    filter: grayscale(70%);
    border: 1px solid white;
    background-size: cover;
    border-radius: 15px;
}
.descripcion{
  position: absolute;
  top: 45%;
  left: 5%;
  text-align: center;
  color: white;
  font-size: x-large;  
}
.content {
  position: relative;
  display: inline-block;
  text-align: center;
}