@media(min-width: 760px) {
    .sabores {
        max-width: 100%;
        height: 80vh;
        /* padding-left: 70px; */
    }
    .product-grid {
        display: block;
    }
}
@media(min-width: 1000px) {
    .sabores {
        max-width: 100%;
        height: 80vh;
        padding-left: 30px;
    }
    .product-grid {
        display: block;
    }
}

.sabores {
    max-width: 100%;
    height: 80vh;
    
}
.product-grid {
    display: block;
    
}